.App {
  text-align: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.ion-edit {
  font-size: 1.2rem;
  padding: 7px;
}

.ion-trash-a {
  font-size: 1.4rem;
  padding: 7px;
}

span:hover {
  color: #CCCCCC;
}

li {
  list-style-type: none;
}
