#message-bar {
  background-color: #cccccc;
  position: fixed;
  bottom: 0;
  height: 5rem;
  z-index: 1;
  width: 100%;
  height: 40px;
}

@media (max-width: 767px) {
  .message-list {
    padding-top: 6rem;
  }
}

#message-input {
  width: 89%;
  height: 40px;
}

#message-send {
  float: right;
  width: 10%;
  font-size: 2.0rem;
  height: 100%;
}

.message-window {
  padding: 0 0 0 15px;
}
